In [3]:
#Naive Baines
import pandas as pd
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("final_df.csv", index_col=0)

In [5]:
print(df.shape)
df.describe().transpose()

(2015, 11)

,count,mean,std,min,25%,50%,75%,max
subject,2015.0,8.020347,4.707753,1.000000,4.000000,7.000000,11.000000,16.000000
HR,2015.0,61.742266,6.931676,31.656367,57.050363,61.843918,67.074265,83.088809
sedentary mins,2015.0,672.759305,141.273345,204.000000,582.000000,660.000000,761.500000,1227.000000
minutesAsleep,2015.0,390.851117,107.571766,39.000000,350.000000,402.000000,454.000000,823.000000
minutesAwake,2015.0,57.338462,24.556111,0.000000,43.000000,56.000000,71.000000,170.000000
deep_sleep_in_minutes,2015.0,72.904715,28.033617,0.000000,54.000000,72.000000,91.000000,183.000000
timeInBed,2015.0,448.489826,126.037225,60.000000,399.000000,463.000000,520.000000,953.000000
restlessness,2015.0,0.091093,0.037817,0.015385,0.062650,0.084960,0.110478,0.294766
stepsToday,2015.0,11623.849132,6343.438655,0.000000,7202.000000,11532.000000,16058.500000,39835.000000
very active mins,2015.0,48.577667,47.138872,0.000000,10.000000,38.000000,73.500000,336.000000

In [6]:
target_column = ['Flare'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
subject,2015.0,0.501272,0.294235,0.062500,0.250000,0.437500,0.687500,1.0
HR,2015.0,0.743088,0.083425,0.380994,0.686619,0.744311,0.807260,1.0
sedentary mins,2015.0,0.548296,0.115137,0.166259,0.474328,0.537897,0.620619,1.0
minutesAsleep,2015.0,0.474910,0.130707,0.047388,0.425273,0.488457,0.551640,1.0
minutesAwake,2015.0,0.337285,0.144448,0.000000,0.252941,0.329412,0.417647,1.0
deep_sleep_in_minutes,2015.0,0.398386,0.153189,0.000000,0.295082,0.393443,0.497268,1.0
timeInBed,2015.0,0.470608,0.132253,0.062959,0.418678,0.485834,0.545645,1.0
restlessness,2015.0,0.309035,0.128293,0.052193,0.212541,0.288228,0.374800,1.0
stepsToday,2015.0,0.291800,0.159243,0.000000,0.180796,0.289494,0.403125,1.0
very active mins,2015.0,0.144576,0.140294,0.000000,0.029762,0.113095,0.218750,1.0

In [7]:
X = df[predictors].values
y = df[target_column].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70, random_state=40)

print(X_train.shape); print(X_test.shape)

(604, 10)
(1411, 10)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
# Training the Naive Bayes model on the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train.ravel())
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [10]:
y_test

array([[False],
       [False],
       [ True],
       ...,
       [False],
       [ True],
       [False]])

In [11]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
ac = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

In [12]:
print(ac)

0.5379163713678242

In [13]:
print(cm)

[[162 454]
 [198 597]]

In [14]:
print(cr)

              precision    recall  f1-score   support

       False       0.45      0.26      0.33       616
        True       0.57      0.75      0.65       795

    accuracy                           0.54      1411
   macro avg       0.51      0.51      0.49      1411
weighted avg       0.52      0.54      0.51      1411

In [25]:
import pickle

filename = 'classifier.sav'
pickle.dump(classifier, open(filename, 'wb'))

filename = 'X_train.sav'
pickle.dump(X_train, open(filename, 'wb'))

filename = 'X_test.sav'
pickle.dump(X_test, open(filename, 'wb'))

filename = 'y_pred.sav'
pickle.dump(y_pred, open(filename, 'wb'))

filename = 'y_test.sav'
pickle.dump(y_test, open(filename, 'wb'))

In [26]:
classifier = pickle.load(open('classifier.sav', 'rb'))
X_train = pickle.load(open('X_train.sav', 'rb'))
X_test = pickle.load(open('X_test.sav', 'rb'))
y_pred = pickle.load(open('y_pred.sav', 'rb'))
y_test = pickle.load(open('y_test.sav', 'rb'))

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
ac = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

In [22]:
print(ac)

0.5379163713678242

In [23]:
print(cm)

[[162 454]
 [198 597]]

In [24]:
print(cr)

              precision    recall  f1-score   support

       False       0.45      0.26      0.33       616
        True       0.57      0.75      0.65       795

    accuracy                           0.54      1411
   macro avg       0.51      0.51      0.49      1411
weighted avg       0.52      0.54      0.51      1411